**/*.geany
**/*.o
**/*.so
**/*~
**/*.old

perl/Utilities/Makefile
perl/Utilities/MYMETA.json
perl/Utilities/MYMETA.yml
perl/Utilities/Utilities.bs
perl/Utilities/Utilities.xs
perl/Utilities/Utilities.c
perl/Utilities/pm_to_blib
perl/Utilities/blib/

dict/A.txt
dict/B.txt
dict/C.txt
dict/D.txt
dict/E.txt
dict/F.txt
dict/G.txt
dict/H.txt
dict/I.txt
dict/J.txt
dict/K.txt
dict/L.txt
dict/M.txt
dict/N.txt
dict/O.txt
dict/P.txt
dict/Q.txt
dict/R.txt
dict/S.txt
dict/T.txt
dict/U.txt
dict/V.txt
dict/W.txt
dict/X.txt
dict/Y.txt
dict/Z.txt
dict/Geo.txt
dict/Names.txt
